.maketforfigma {
  flex: 0 0 auto;
  background: #313a46;
  font-weight: bold;
  display: flex;
}

.maketforfigma img {
  border-radius: 10px;
  margin: 4px 0 0 4px;
}

.maketforfigma p {
  color: #98a6ad;
  text-decoration: none;
  letter-spacing: 0.01875rem;
  font-size: 0.775rem;
  padding: 0 10px;
  line-height: 0.7rem;
}

.maketforfigma p > a {
  color: #bbe4f0;
  font-weight: bold;
}

.maketforfigma p > a:hover {
  color: #ffffff;
}

.main {
  flex: 1 0 auto;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 142.857143%; /* 20/14 */
  color: #737373;
  position: relative;
  min-width: 360px;
  overflow-x: hidden;
  letter-spacing: 0.2px;
  background-color: #FAFAFA;
}
body._lock {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ol {
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

button, input, textarea, fieldset {
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1085px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 790px) {
  .container {
    padding: 0 40px;
  }
}

.section__hgroup {
  text-align: center;
  margin-bottom: 80px;
  margin-bottom: calc(60px + 20 * ((100vw - 360px) / 1080));
}
@media (min-width: 1440px) {
  .section__hgroup {
    margin-bottom: 80px;
  }
}
.section__hgroup h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%; /* 57/40 */
  color: #252B42;
  margin-bottom: 10px;
}
.section__hgroup p {
  max-width: 480px;
  margin: 0 auto;
}

section {
  width: 100vw;
}

.hover-effect {
  position: relative;
  overflow: hidden;
}
.hover-effect:before {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
}
.hover-effect:hover:before {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.hover-link {
  position: relative;
}
.hover-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  right: 0;
  bottom: -3px;
  background-color: #fff;
  transition: all 0.5s;
}
.hover-link:hover::before {
  width: 100%;
  left: 0;
}

.choices {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
}

.choices:focus {
  outline: 0;
}

.choices:last-child {
  margin-bottom: 0;
}

.choices.is-open {
  overflow: visible;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.choices.is-disabled .choices__item {
  cursor: not-allowed;
}

.choices [hidden] {
  display: none !important;
}

.choices[data-type*=select-one] {
  cursor: pointer;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 7.5px;
}

.choices[data-type*=select-one] .choices__input {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  margin: 0;
}

.choices[data-type*=select-one] .choices__button {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  padding: 0;
  background-size: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 10em;
  opacity: 0.25;
}

.choices[data-type*=select-one] .choices__button:focus,
.choices[data-type*=select-one] .choices__button:hover {
  opacity: 1;
}

.choices[data-type*=select-one] .choices__button:focus {
  box-shadow: 0 0 0 2px #00bcd4;
}

.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
  display: none;
}

.choices[data-type*=select-one]::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open::after {
  border-color: transparent transparent #333;
  margin-top: -7.5px;
}

.choices[data-type*=select-one][dir=rtl]::after {
  left: 11.5px;
  right: auto;
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
  cursor: text;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
  position: relative;
  display: inline-block;
  margin: -4px 0 8px;
  padding-left: 16px;
  border-left: 1px solid #008fa1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: 0.75;
  border-radius: 0;
}

.choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=select-multiple] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover {
  opacity: 1;
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #f9f9f9;
  padding: 7.5px 7.5px 3.75px;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  font-size: 14px;
  min-height: 44px;
  overflow: hidden;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: #b7b7b7;
}

.is-open .choices__inner {
  border-radius: 2.5px 2.5px 0 0;
}

.is-flipped.is-open .choices__inner {
  border-radius: 0 0 2.5px 2.5px;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%;
}

[dir=rtl] .choices__list--single {
  padding-right: 4px;
  padding-left: 16px;
}

.choices__list--single .choices__item {
  width: 100%;
}

.choices__list--multiple {
  display: inline;
}

.choices__list--multiple .choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00bcd4;
  border: 1px solid #00a5bb;
  color: #fff;
  word-break: break-all;
  box-sizing: border-box;
}

.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
}

[dir=rtl] .choices__list--multiple .choices__item {
  margin-right: 0;
  margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
  background-color: #aaa;
  border: 1px solid #919191;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  visibility: visible;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

[dir=rtl] .choices__list--dropdown .choices__item,
[dir=rtl] .choices__list[aria-expanded] .choices__item {
  text-align: right;
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 100px;
  }
  .choices__list--dropdown .choices__item--selectable::after,
  .choices__list[aria-expanded] .choices__item--selectable::after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  [dir=rtl] .choices__list--dropdown .choices__item--selectable,
  [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
  }
  [dir=rtl] .choices__list--dropdown .choices__item--selectable::after,
  [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
    right: auto;
    left: 10px;
  }
}
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
  opacity: 0.5;
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  opacity: 0.5;
}

.choices__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray;
}

.choices__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.choices__button:focus,
.choices__input:focus {
  outline: 0;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}

.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {
  display: none;
}

.choices__input::-ms-clear,
.choices__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

[dir=rtl] .choices__input {
  padding-right: 2px;
  padding-left: 0;
}

.choices__placeholder {
  opacity: 0.5;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* ---------- HEADER ---------- */
.header {
  position: absolute;
  min-height: 91px;
  color: #fff;
  z-index: 3;
  width: 100vw;
  z-index: 20;
}
.header::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.header .container {
  padding-left: calc(20px + 20 * ((100vw - 360px) / 1080));
  padding-right: calc(20px + 20 * ((100vw - 360px) / 1080));
}
@media (min-width: 1440px) {
  .header .container {
    padding-left: 40px;
  }
}
@media (min-width: 1440px) {
  .header .container {
    padding-right: 40px;
  }
}
.header.burger-open {
  position: fixed;
}
.header.burger-open::before {
  background-color: #fff;
}
.header.burger-open .header__brandname {
  color: #252B42;
}
.header.burger-open .header__minmenu-link svg path {
  fill: #737373;
}
.header.burger-open .header__minmenu-item span {
  background-color: #737373;
}
.header.burger-open .header__minmenu-item--sublist {
  top: 0;
  bottom: 0;
}
.header.burger-open .header__minmenu-item--burger span:nth-child(1) {
  transform: translate(0, 6px) rotate(45deg);
}
.header.burger-open .header__minmenu-item--burger span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}
.header.burger-open .header__minmenu-item--burger span:nth-child(3) {
  width: 100%;
  transform: translate(0, -6px) rotate(-45deg);
}
.header__wrapper {
  min-height: 91px;
  max-width: 1085px;
  width: 100%;
  display: flex;
  -moz-column-gap: calc(0px + 76 * ((100vw - 360px) / 1080));
       column-gap: calc(0px + 76 * ((100vw - 360px) / 1080));
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
@media (min-width: 1440px) {
  .header__wrapper {
    -moz-column-gap: 76px;
         column-gap: 76px;
  }
}
.header__brandname {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.333333%; /* 32/24 */
  letter-spacing: 0.1px;
  transition: 0.2s;
  z-index: 2;
}
.header__nav {
  flex-grow: 1;
  z-index: 2;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 720px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-item {
  line-height: 171.428571%; /* 24/14 */
}
.header__btns {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
@media (max-width: 960px) {
  .header__btns {
    display: none;
  }
}
.header__btns-btn {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 157.142857%; /* 22/14 */
}
.header__btns-btn--fill {
  padding: 15px 52px 15px 25px;
  background-color: #23A6F0;
  border-radius: 5px;
}
.header__btns-btn--fill::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 10px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.header__minmenu {
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  display: none;
  z-index: 2;
}
@media (max-width: 960px) {
  .header__minmenu {
    display: flex;
  }
}
.header__minmenu .header__minmenu-item--sublist {
  display: block;
}
.header__minmenu-item, .header__minmenu-link {
  width: 24px;
  height: 24px;
}
.header__minmenu-item--burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 14px;
  transform: scale(-1, 1);
}
@media (max-width: 720px) {
  .header__minmenu-item--burger {
    display: flex;
  }
}
.header__minmenu-item--burger span {
  height: 2px;
  background-color: #fff;
  width: 100%;
  transition: 0.5s;
}
.header__minmenu-item--burger span:nth-child(2) {
  width: 80%;
}
.header__minmenu-item--burger span:nth-child(3) {
  width: 50%;
}
.header__minmenu-item--sublist {
  position: fixed;
  left: 0;
  top: calc(-100vh - 100vw);
  width: 100vw;
  height: auto;
  transition: 1s;
  z-index: -1;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 30px;
  overflow: auto;
}
.header__minmenu-link svg path {
  transition: 0.2s;
}
.header__minmenu-sublist {
  padding-top: 164px;
  padding-bottom: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 30px;
}
.header__minmenu-subitem {
  font-weight: 400;
  font-size: 30px;
  line-height: 150%; /* 45/30 */
  color: #737373;
}

/* ---------- PROMO ---------- */
.no-webp .promo {
  background-image: url("../img/promo-bg.jpg"); }
.promo {
  display: flex;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20.33vh;
  color: #fff;
  height: calc(100vh + 101px);
  margin-bottom: 205px;
  z-index: 1;
}
@media (max-width: 790px) {
  .promo {
    height: auto;
    padding-bottom: 180px;
    margin-bottom: 0;
  }
}
.promo::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.promo .container {
  position: relative;
  z-index: 2;
  height: 100%;
  padding-left: calc(20px + 20 * ((100vw - 360px) / 1080));
  padding-right: calc(20px + 20 * ((100vw - 360px) / 1080));
}
@media (min-width: 1440px) {
  .promo .container {
    padding-left: 40px;
  }
}
@media (min-width: 1440px) {
  .promo .container {
    padding-right: 40px;
  }
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 80px;
}
.promo__wrapper-top, .promo__hgroup {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}
.promo__wrapper-top {
  position: relative;
  max-width: 699px;
  margin: 0 auto;
}
.promo__hgroup {
  text-align: center;
}
.promo__hgroup-title {
  font-weight: 800;
  font-size: calc(40px + 18 * ((100vw - 360px) / 1080));
  line-height: 137.931034%; /* 80/58 */
}
@media (min-width: calc(1080px + 360px)) {
  .promo__hgroup-title {
    font-size: 58px;
  }
}
@media (max-width: 540px) {
  .promo__hgroup-title {
    font-weight: 700;
  }
}
.promo__hgroup-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%; /* 30/20 */
  max-width: 539px;
}
.promo__btns {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 540px) {
  .promo__btns {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }
}
.promo__btns-btn {
  line-height: 157.142857%; /* 22/14 */
  padding: 15px 36px;
  border-radius: 37px;
  transition: 0.3s;
}
@media (max-width: 540px) {
  .promo__btns-btn {
    padding: 10px 36px;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
.promo__btns-btn:hover {
  transform: translateY(-5px);
}
.promo__btns-btn--fill {
  background: #23A6F0;
}
.promo__btns-btn--border {
  border: 1px solid #fff;
}
.promo__list {
  position: absolute;
  top: 100vh;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  max-width: 1045px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 0 20px;
}
@media (max-width: 790px) {
  .promo__list {
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    top: auto;
    left: auto;
    transform: translateX(0);
    padding: 0 40px;
  }
}
.promo__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 202px;
  background-color: #fff;
  color: #252B42;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px 40px 35px 40px;
  transition: 0.5s;
  z-index: 2;
  text-align: center;
}
.promo__item:hover {
  background-color: #23A6F0;
  color: #fff;
}
.promo__item:hover .promo__item-icon svg path {
  fill: #fff;
}
.promo__item:hover .promo__item-text {
  color: #fff;
}
.promo__item-about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.promo__item-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.333333%; /* 32/24 */
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}
.promo__item-text {
  font-weight: 500;
  color: #737373;
}

.features {
  background-color: #fff;
  margin-bottom: calc(75px + 37 * ((100vw - 360px) / 1080));
  padding-top: calc(80px + 16 * ((100vw - 360px) / 1080));
  padding-bottom: calc(80px + 16 * ((100vw - 360px) / 1080));
}
@media (min-width: 1440px) {
  .features {
    margin-bottom: 112px;
  }
}
@media (min-width: 1440px) {
  .features {
    padding-top: 96px;
  }
}
@media (min-width: 1440px) {
  .features {
    padding-bottom: 96px;
  }
}
.features__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 790px) {
  .features__list {
    flex-direction: column;
    row-gap: 30px;
  }
}
.features__item {
  flex-grow: 1;
  padding: 40px 45px;
  text-align: center;
}
.features__item-icon {
  margin-bottom: 30px;
}
.features__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 10px;
}
.features__item-text {
  font-weight: 500;
}

.industry {
  margin-bottom: 195px;
}
.industry__list {
  display: flex;
  gap: 20px;
  padding: 0 13px;
  justify-content: space-between;
}
@media (max-width: 790px) {
  .industry__list {
    flex-direction: column;
  }
}
.industry__item {
  flex-basis: 300px;
  padding: 40px 35px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}
.industry__item-img {
  margin-bottom: 28px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 28px auto;
}
.industry__item-img img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.industry__item-text {
  margin-bottom: 13px;
}

.rating {
  display: inline-flex;
  flex-direction: row-reverse;
}

.rating__item {
  color: #dcdcdc;
  transition: 0.2s;
  width: 18px;
  height: 18px;
  background-image: url("../img/star-border.svg");
  background-repeat: no-repeat;
  overflow: hidden;
  padding-right: 25px;
}

.rating[data-total-value="1"] .rating__item:nth-child(n+5),
.rating[data-total-value="2"] .rating__item:nth-child(n+4),
.rating[data-total-value="3"] .rating__item:nth-child(n+3),
.rating[data-total-value="4"] .rating__item:nth-child(n+2),
.rating[data-total-value="5"] .rating__item:nth-child(n+1) {
  background-image: url("../img/star-fill.svg");
  background-repeat: no-repeat;
  overflow: hidden;
}

.brand {
  margin-bottom: calc(45px + 87 * ((100vw - 360px) / 1080));
}
@media (min-width: 1440px) {
  .brand {
    margin-bottom: 132px;
  }
}
@media (max-width: 1085px) {
  .brand .container {
    padding: 0;
  }
}
.brand__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 70px;
  row-gap: 20px;
}
@media (max-width: 440px) {
  .brand__list {
    flex-direction: column;
    row-gap: 60px;
  }
}
.brand__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand__news {
  background: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
}
.brand__news-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 124px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: calc(40px + 10 * ((100vw - 360px) / 1080));
  padding-right: calc(40px + 10 * ((100vw - 360px) / 1080));
  border-radius: 2px;
}
@media (min-width: 1440px) {
  .brand__news-wrapper {
    padding-left: 50px;
  }
}
@media (min-width: 1440px) {
  .brand__news-wrapper {
    padding-right: 50px;
  }
}
@media (max-width: 960px) {
  .brand__news-wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}
.brand__news-text {
  max-width: 260px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.333333%; /* 32/24 */
  letter-spacing: 0.1px;
}
@media (max-width: 960px) {
  .brand__news-text {
    max-width: 100%;
    text-align: center;
  }
}
.brand__form {
  position: relative;
  max-width: 450px;
  width: 100%;
  height: 58px;
}
.brand__form-input {
  color: #252B42;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  height: 58px;
  width: 100%;
  padding: 15px 132px 15px 20px;
}
.brand__form-input:placeholder {
  line-height: 200%; /* 28/14 */
}
.brand__form-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 15px 23px;
  background-color: #23A6F0;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
}

.pricing {
  margin-bottom: calc(80px + 32 * ((100vw - 360px) / 1080));
}
@media (min-width: 1440px) {
  .pricing {
    margin-bottom: 112px;
  }
}
.pricing__list {
  display: flex;
  padding: 0 10px;
  -moz-column-gap: 1px;
       column-gap: 1px;
  align-items: flex-end;
}
@media (max-width: 960px) {
  .pricing__list {
    padding: 0;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
.pricing__item {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  flex-grow: 1;
  background: #fff;
  border: 1px solid #23A6F0;
  border-radius: 10px;
  padding: 50px 40px;
}
.pricing__item-title, .pricing__item-text, .pricing__item-price {
  text-align: center;
}
.pricing__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.333333%; /* 32/24 */
  letter-spacing: 0.1px;
  color: #252B42;
}
.pricing__item-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  letter-spacing: 0.1px;
}
.pricing__item-btn {
  width: 100%;
  line-height: 157.142857%; /* 22/14 */
  padding: 15px;
  font-weight: 700;
  background-color: #23A6F0;
  color: #fff;
  border-radius: 5px;
}
.pricing__item--profit {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #252B42;
  color: #fff;
}
.pricing__item--profit .pricing__item-title, .pricing__item--profit .pricing__subitem {
  color: #fff;
}
.pricing__sublist {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.pricing__subitem {
  position: relative;
  line-height: 171.428571%; /* 24/14 */
  color: #252B42;
  padding-left: 42px;
}
.pricing__subitem::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("../img/on.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.pricing__subitem--on::before {
  background-color: #2DC071;
}
.pricing__subitem--off::before {
  background-color: #BDBDBD;
}

.item__price {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.item__price-number {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%; /* 57/40 */
  color: #23A6F0;
}
.item__price-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.item__price-currency {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  letter-spacing: 0.1px;
  color: #23A6F0;
}
.item__price-interval {
  line-height: 171.428571%; /* 24/14 */
  color: #8EC2F2;
}

.book {
  background-color: #252B42;
  height: 807px;
  padding: 100px 0 0 30px;
  margin-bottom: calc(50px + 370 * ((100vw - 360px) / 1080));
}
@media (min-width: 1440px) {
  .book {
    margin-bottom: 420px;
  }
}
@media (max-width: 960px) {
  .book {
    height: auto;
    padding-left: 0;
  }
}
@media (max-width: 960px) {
  .book .container {
    padding: 0;
  }
}
.book__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .book__wrapper {
    flex-direction: column;
    row-gap: 130px;
    align-items: center;
    margin-bottom: 110px;
  }
}
.book__about {
  max-width: 455px;
  color: #fff;
  margin-bottom: 150px;
}
@media (max-width: 960px) {
  .book__about {
    margin-bottom: 0;
    padding: 0 50px;
  }
}
.book__about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%; /* 57/40 */
  margin-bottom: 15px;
}
.book__about-text {
  font-weight: 500;
}
.book__about-img {
  padding-top: 50px;
  max-width: calc(313px + 101 * ((100vw - 360px) / 1080));
}
@media (min-width: 1440px) {
  .book__about-img {
    max-width: 414px;
  }
}
@media (max-width: 960px) {
  .book__about-img {
    padding-top: 0;
  }
}
.book__about-img img {
  width: 100%;
  height: auto;
}
.book__form {
  max-width: 877px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .book__form {
    margin: 0;
    max-width: none;
  }
}
.book__form-wrapper {
  display: flex;
}
@media (max-width: 960px) {
  .book__form-wrapper {
    flex-direction: column;
  }
}
.no-webp .book__form-img {
  background-image: url("../img/book-form-bg-big.jpg"); }
.book__form-img {
  flex-basis: 267px;
  flex-shrink: 0;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% center;
}
@media (max-width: 960px) {
  .book__form-img {
    flex-basis: 259px;
    background-position: center top;
  }
}
.book__form-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #fff;
  padding: 40px 50px;
}
.book-form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}
.book-form__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.333333%; /* 32/24 */
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 40px;
}
.book-form__label {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  line-height: 171.428571%; /* 24/14 */
  color: #252B42;
}
.book-form__input {
  min-height: 50px;
  padding: 0 20px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
.book-form__input:placeholder {
  line-height: 200%; /* 28/14 */
}
.book-form__input:focus-visible {
  outline: 1px solid #E6E6E6;
}
.book-form__btn {
  line-height: 157.142857%; /* 22/14 */
  letter-spacing: 0.2px;
  color: #fff;
  background: #23A6F0;
  border-radius: 5px;
  height: 52px;
  padding: 0 20px;
}

.choices.is-open .choices__inner {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  z-index: 5;
}

.choices[data-type*=select-one]::after {
  content: "";
  height: 14px;
  width: 8px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  border: none;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.5s;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: 0;
  transform: translateY(-50%) scale(1, -1);
  z-index: 5;
}

.choices__list--dropdown {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

.choices__inner {
  position: relative;
  background-color: #fff;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  height: 50px;
}

.choices__list--dropdown {
  top: calc(100% - 44px) !important;
  padding-top: 44px;
  margin-top: 0 !important;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown.is-active {
  border: 1px solid #E6E6E6;
}

.footer {
  padding-top: 40px;
}
.footer-us {
  margin-bottom: 40px;
}
.footer-us__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 790px) {
  .footer-us__wrapper {
    flex-direction: column;
    row-gap: 50px;
    align-items: flex-start;
  }
}
.footer-us__hgroup-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.333333%; /* 32/24 */
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 10px;
}
.footer-us__button {
  background-color: #23A6F0;
  color: #fff;
  line-height: 157.142857%; /* 22/14 */
  padding: 15px 40px;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  border-radius: 5px;
}
.footer-menu {
  background-color: #fff;
  padding: 50px 0;
}
.footer-menu__wrapper {
  display: flex;
  gap: 30px;
}
@media (max-width: 1085px) {
  .footer-menu__wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.footer-menu__list--contacts .footer-menu__item {
  padding-left: 34px;
  position: relative;
}
.footer-menu__list--contacts .footer-menu__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer-menu__list-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 20px;
}
.footer-menu__item {
  min-width: 152px;
  margin-bottom: 10px;
  line-height: 171.428571%; /* 24/14 */
}
.footer-menu__item--phone::before {
  background-image: url("../img/phone.svg");
}
.footer-menu__item--location::before {
  background-image: url("../img/map.svg");
}
.footer-menu__item--mail::before {
  background-image: url("../img/mail.svg");
}
.footer-menu__item a::before {
  background-color: #737373;
}
.footer__bottom {
  padding: 25px 0;
}
@media (max-width: 720px) {
  .footer__bottom {
    padding-bottom: 55px;
  }
}
.footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .footer__bottom-wrapper {
    flex-direction: column;
    row-gap: 50px;
  }
}
.footer__bottom-text {
  line-height: 171.428571%; /* 24/14 */
}
.footer__bottom-list {
  display: flex;
  gap: 20px;
}
.footer__bottom-item {
  transition: 0.5s;
}
.footer__bottom-item:hover {
  transform: translateY(-3px);
}
.footer__bottom-link {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__bottom-link--facebook {
  background-image: url("../img/facebook.svg");
}
@media (max-width: 720px) {
  .footer__bottom-link--facebook {
    background-image: url("../img/facebook-fill.svg");
  }
}
.footer__bottom-link--twitter {
  background-image: url("../img/twitter.svg");
}
@media (max-width: 720px) {
  .footer__bottom-link--twitter {
    background-image: url("../img/twitter-fill.svg");
  }
}
.footer__bottom-link--instagram {
  background-image: url("../img/instagram.svg");
}
@media (max-width: 720px) {
  .footer__bottom-link--instagram {
    background-image: url("../img/instagram-outline.svg");
  }
}
.footer__bottom-link--youtube {
  background-image: url("../img/youtube.svg");
}
.footer__bottom-link.hidden {
  display: none;
}
@media (max-width: 720px) {
  .footer__bottom-link.hidden {
    display: block;
  }
}
.webp .promo { background-image: url(../img/promo-bg.webp); }
.webp .book__form-img { background-image: url(../img/book-form-bg-big.webp); }